<div class="uk-width-7-10">
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :标题 %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :分类 %>
    <%= f.text_field :@article.category %>

  </p>
 <p>
    <%= f.label :内容 %><br>
    <%= f.text_area :text, "data-uk-htmleditor" => true %>
 </p>
 
  <p>
    <%= f.submit  class: 'uk-button-success' %>
  </p>
<% end %>
</div>