	
<% @articles.each do |article| %>
<div class="content_l uk-width-7-10" style="float:left">		
	<div class="article">
		<div class="articleTitle">
			<h5><a href="<%= article_path(article) %>"><%= article.title %></a></h5>
			<p><%= article.created_at.strftime('%B %e,%Y') %></p>
		</div>
		<div class="articleContent">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= article.text.html_safe() %></p>
		</div>
		<div class="readMore uk-container-center">
			<a href="<%= article_path(article) %>" class="uk-icon-angle-double-right"></a>
		</div>				
	</div>	
</div>
<% end %>
<div class="uk-width-7-10 paginate" style="color:black;float:left">
    <%= will_paginate @articles, :container => false %>
 </div>
	


