<div class="content_r uk-width-3-10" style="float:right">
	      	<div class="notice">
		      	<div class="notice_top">
			      	<ul>
				      	<li class="list2">
				      		<div style="position: absolute;width: 70px;border-top: solid 1px;top: 10px;"></div>
				      		<span>公告</span>
				      		<div style="position: absolute;width: 70px;border-top: solid 1px;top: 10px;right:0;"></div>
				      	</li>
			      	</ul>
		      	</div>
		     	 <div class="notice_content">
			      	<span>你们已经被包围了！你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了你们已经被包围了。</span>
		      	</div>
	      	</div>
	      	<div class="notice">
		      	<div class="notice_top">
			      	<ul>
				  	<li class="list2">
				      		<div style="position: absolute;width: 55px;border-top: solid 1px;top: 10px;"></div>
				      		<span>友情链接</span>
				      		<div style="position: absolute;width: 55px;border-top: solid 1px;top: 10px;right:0;"></div>
				      	</li>
			      	</ul>
		      	</div>
		      	<div class="notice_content">
			      	<ul>
				  	<li><span>百度：</span><a href="www.baidu.com">www.baidu.com</a></li>
				  	<li><span>百度：</span><a href="www.baidu.com">www.baidu.com</a></li>
				  	<li><span>百度：</span><a href="www.baidu.com">www.baidu.com</a></li>
				  	<li><span>百度：</span><a href="www.baidu.com">www.baidu.com</a></li>
			      	</ul>
		      	</div>
	      	</div>
	    </div>	
<% @articles.each do |article| %>
<div class="content_l uk-width-7-10" style="float:left">		
	<div class="article">
		<div class="articleTitle">
			<h5><a href="<%= article_path(article) %>"><%= article.title %></a></h5>
			<p><%= article.created_at.strftime('%B %e,%Y') %></p>
		</div>
		<div class="articleContent">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= article.text.html_safe() %></p>
		</div>
		<div class="readMore uk-container-center">
			<a href="<%= article_path(article) %>" class="uk-icon-angle-double-right"></a>
		</div>				
	</div>	
</div>
<% end %>
<div class="uk-width-7-10 paginate" style="color:black;float:left">
    <%= will_paginate @articles, :container => false %>
 </div>
	


