 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
  	<%= stylesheet_link_tag  'app.css', media: 'all', 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag  'uikit.min.css', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'uikit.min.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'jquery.js', media: 'all', 'data-turbolinks-track' => true %>

  	 <!-- Codemirror 和 marked 依赖 -->
  	<%= stylesheet_link_tag  'codemirror.css', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'codemirror.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'markdown.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'overlay.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'xml.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'gfm.js', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag  'marked.js', media: 'all', 'data-turbolinks-track' => true %>
	 <!-- HTML 编辑器的 CSS 与 JavaScript -->
        
     <%= stylesheet_link_tag  'htmleditor.css', media: 'all', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag  'htmleditor.js', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
	<div class="youngi_index">
	<div class="header uk-container-center uk-width-7-10">
		<div class="header_img">
			<a href="<%= root_path %>"><%=image_tag 'index.png', alt: "图片", class: "logo_img" %></a>
		</div>
		<div class="header_nav">
			<ul class="nav">
				<li class="uk-width-1-4"><a href="<%= root_path %>">首页</a></li>
				<li class="uk-width-1-4"><a href="">技术</a></li>
				<li class="uk-width-1-4"><a href="">生活</a></li>
				<li class="uk-width-1-4"><a href="<%= about_path %>">关于我</a></li>
			</ul>
		</div>
	</div>
	<div class="content uk-container-center uk-width-7-10">
	  		
			<%= yield %>
	</div>
</div>	
</body>
</html>